<div ng-if="list.found.length">
	<div class="col-xs-12">
	  	<div class="col-sm-3">
	    	Name
		</div>
		<div class="col-sm-3">
			Short Name
		</div>
		<div class="col-sm-3">
			Description
		</div>
	    <div class="col-sm-3">
	    	Action
		</div>
	</div>
	<div class="col-xs-12" ng-repeat="item in list.found" ng-class-odd="'odd'" class="table-row">
	  	<div class="col-sm-3">
	    	{{ item.name }}
		</div>
		<div class="col-sm-3">
			{{ item.short_name }}
		</div>
		<div class="col-sm-3">
			{{ item.description }}
		</div>
	    <div class="col-sm-3">
	    	<button ng-click="list.onRemove({index: $index});">Don't want this one!</button>
		</div>
	</div>
</div>
<div class="col-xs-12" ng-if="!list.found.length" class="text-center">
	<span>Nothing found</span>
</div>
