<div ng-if="list.hasItems">
	<div class="col-xs-12" ng-repeat="item in list.found" ng-class="'table-row'" ng-class-odd="'odd'">
	  	<div class="col-sm-3">
	    	{{ item.name }}
		</div>
		<div class="col-sm-3">
			{{ item.short_name }}
		</div>
		<div class="col-sm-3">
			{{ item.description }}
		</div>
	    <div class="col-sm-3">
	    	<button ng-click="list.onRemove({index: $index});">Don't want this one!</button>
		</div>
	</div>
</div>
<div class="col-xs-12" ng-if="!list.hasItems" class="text-center">
	<span>Nothing found</span>
</div>
